.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .close-cart-container {
    display: flex;
    justify-content: flex-end;

    .close {
      font-size: 20px;
      background: none;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: 3px;
  }
}
