.footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  margin-top: 20px;

  .copyright {
    width: 40%;
    padding: 10px 0;
  }
  
  .socials-container {
    width: 20%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }

  .legal-links {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .link {
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        color: darkgray;
      }
    }
  }
}
